         

		<!-- content 
			================================================== -->
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>Toyota FAME Uruapan</h3>
							<br>
<span class="single-project-content">
                    <img alt="Toyota Fame Valladolid" src="images/fachada.jpg"></span> 
                    <li><span><i class="fa fa-home"></i>Libramiento Oriente No. 5675, </span> <span>Col. Quirindavara, </span><span> Uruapan, Michoacán</span><span> C.P. 60190</span></li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			 

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.716727081825!2d-102.06089588509407!3d19.381414586913436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa210a2f9a7f3bf16!2sFAME+Toyota+Uruapan!5e0!3m2!1ses-419!2smx!4v1542931711924" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
			 
            </div>

					</div>
				</div>
			</div>

		</div><br>


		<!-- End content -->

