    	<!-- Page Banner -->
			<div class="page-banner">         

				<div class="container">
					<h2><strong>Toyota® <strong>Hilux 2016</strong></strong></h2>
				</div>
			</div>
                     



<!--barra información limpia-->
			<div class="single-project-page">
				<div class="container">
					<div class="row">

					<div class="container">
							<div class="single-project-content">
								<img alt="" src="hilux/fotos/hilux2016.jpg">
                                
                               <div class="col-md-4">
								<div class="services-post">
									<a class="services-icon2" href="../fichas/hilux-2016.pdf" target="_blank"><i class="fa fa-download"></i></a>
									<div class="services-post-content">
										<h4>+Información</h4>
										<p>Conoce más sobre la Hilux 2016,<br>
descarga su <strong><a href="../fichas/hilux.pdf" target="_blank">ficha técnica</a></strong></p>
									</div>
								</div>
							</div>
                                <h3><strong>Hilux 2016, </strong>Totalmente indestructible</h3>
                                <p align="justify">La nueva generación de <strong>Hilux</strong> ofrece niveles de confort nunca antes vistos en un vehículo de trabajo. Supera las necesidades que los consumidores buscan en pickups ligeras, más alta calidad y durabilidad, pensada para brindar un adecuado servicio en condiciones rudas de trabajo y extremas de clima y caminos. Además de la superioridad en espacio interior y facilidad de acceso que se logra con el chasis más avanzado en su tipo.</p>                            
                            
                         	</div>


<div class="container">
                         <div class="col-md-6" >
								<img alt="" src="hilux/fotos/carga-hilux-2016.jpg">  
                         </div>

                         <div class="col-md-6">
                         <br><br><br><br><h4>Capacidad de<strong> carga</strong></h4><br><br>
                         <p align="justify">
- Excelente capacidad de carga en todas las versiones para mayor versatilidad y adaptación a todo tipo de aplicaciones.<br><br>
- Estupenda eficiencia y capacidad de adaptación a todo tipo de climas, terrenos y usos, tanto en la ciudad como carretera e incluso terracería, siendo la solución perfecta a las necesidades de los propietarios, operadores y empresas.<br><br>
- Superior fiabilidad y desempeño haciento más eficiente cualquier tarea que se le asigne, aumentando la productividad.
                         </p><br><br>
                         </div>                          
</div>     

<div class="container">
                         <div class="col-md-6">
                         <br><br><br><br><h4>Nueva generación <strong>Hilux.</strong></h4><br><br>
                         <p align="justify">
- La cabina de la nueva Hilux es un placentero espacio para el conductor y sus acompañantes, ofreciendo un nivel de ergonomía, amplitud y funcionalidad realmente inéditos para un vehículo de trabajo con vocación utilitaria.<br><br>

- Sus espacios son excelentes, ya que independientemente de la versión obsequia a sus ocupantes amplias dimensiones para piernas, caderas, hombros y cabeza, todo ello gracias a su exclusivo y avanzado concepto de diseño y construcción.<br><br>

- Perfecto balance para uso de trabajo y personal, incluso ejecutivo, brindando una sensación de tranquilidad y confort sin igual.
                         </p><br><br>
                         </div>    
                         
                         <div class="col-md-6" >
								<img alt="" src="hilux/fotos/asientos-hilux-2016.jpg">  h
                         </div>                                               

</div> 
                    
</div>                           
                                
<div class="container">                                 
                         <div class="col-md-6">
								<img alt="" src="hilux/fotos/manejo-hilux-2016.jpg">  
                         </div>                                  
                                                  
                         <div class="col-md-6">
                         <br><br><br><h4>Manejo más <strong>Confortable.</strong></h4><br><br>
                         <p align="justify">
- La totalmente nueva suspensión de la Toyota Hilux 2016 brinda un manejo incomparable en cualquier situación tanto dentro del camino, como en terracería y veredas en malas condiciones.
<br><br>
- Dependiendo de la versión se cuenta con una suspensión distinta, diseñada para las condiciones de uso más frecuentes, algo exclusivo en el segmento, ya que Hilux es la única en contar con una plataforma específica para cada aplicación y tipo de carrocería, optimizando la circulación de las ruedas para un manejo confortable, preciso y confiabe.
<br><br>
- La nueva barra estabilizadora, de mayor grosor y fortaleza, elimina el rolling o inclinación, brindando total confianza y seguridad al circular por curvas.
                         </p><br><br>
                         </div>                            
</div>     

<div class="container">
                         <div class="col-md-6">
                         <br><br><br><br><h4>Mayor Confianza,<strong> Seguridad.</strong></h4><br><br>
                         <p align="justify">
- Todas las Hilux 2016 cuentan con bolsas de aire frontales de múltiple etapa para conductor y acompañante (esta última con mecanismo manual de desconexión). Estos elementos, muy destacados en el segmento de las pickups ligeras permiten que el nivel de seguridad para los ocupantes de las plazas delanteras sea excelente.<br><br>

- Las versiones Doble Cabina disponen además de anclas para fijar sillas para niños de tipo Latch-Isofix (como parte del sistema de restricción suplementaria para niños o CRS).<br><br>

- En las cuatro versiones de la Nueva Hilux 2016 se tiene en el encendido inmovilizador y la guantera incorporada llave con protección de Valet. Atributos que elevan la confianza y seguridad contra robo de vehículo.
                         </p><br><br>
                         </div>    
                         
                         <div class="col-md-6" >
								<img alt="" src="hilux/fotos/seguridad-hilux-2016.jpg">  
                         </div>                                               

</div>      

<div class="container">
                         <div class="col-md-12" >
								<br><br><img alt="" src="hilux/fotos/fortaleza-hilux-2016.jpg">  
                         </div> 
                         
                         <div class="col-md-6">
                         <p align="justify"><br><br>
Para construir a la mejor pickup ligera de todos los tiempos se requiere tener la base y estructura más sólidas pósibles. Fabricado mediante troquelado en frío con acero de alta resistencia, técnica exclusiva de Toyota que brinda mayor fortaleza al conjunto; además de acero más ligero y con una configuración más avanzada.
                         </p><br><br>
                         </div>   
                         
                         <div class="col-md-6">
                         <p align="justify"><br><br>
En la sección delantera se cuenta con una mayor curvatura vertical y lateral para permitir un extraordinario recorrido en la suspensión delantera y el máximo giro de la dirección, logrando superar las condiciones de manejo más demandantes con total control y dominio del vehículo.
                         </p><br><br>
                         </div>                           
                         
                                              

</div>      

<div class="container">
						<h2>Versiones Hilux 2016</h2>
                         <div class="col-md-6" >
								<br><br><img alt="" src="hilux/fotos/chasis-cabina-hilux-2016.png">  
                         </div>                         
                         
                         <div class="col-md-6">
                         <br><br><br><br><h4>Chasis Cabina</h4>
                         <p align="justify"><br><br>
- Aire acondicionado<br>
- Bolsa de aire para conductor, pasajero y rodillas de conductor<br>
- Capacidad de carga 1,200 kg.<br>
- Frenos ABS<br>
                         </p><br><br>
                         </div>   
</div>                          
                         
<div class="container">                         
                         <div class="col-md-6" >
								<br><br><img alt="" src="hilux/fotos/cabina-sencilla-hilux-2106.png">  
                         </div>                          
                         
                         <div class="col-md-6">
                         <br><br><br><br><h4>Cabina Sencilla</h4>
                         <p align="justify"><br><br>
- Aire acondicionado<br>
- Bolsa de aire para conductor, pasajero y rodillas de conductor<br>
- Capacidad de carga 1,040 kg.<br>
- Frenos ABS<br>
                         </p><br><br>
                         </div>                          
</div>   

<div class="container">                         
                         <div class="col-md-6" >
								<br><br><img alt="" src="hilux/fotos/doble-cabina-base-hilux-2016.png">  
                         </div>                          
                         
                         <div class="col-md-6">
                         <br><br><br><br><h4>Doble Cabina Base</h4>
                         <p align="justify"><br><br>
- Aire acondicionado<br>
- Bolsa de aire para conductor, pasajero y rodillas de conductor<br>
- Capacidad de carga 840 kg.<br>
- Frenos ABS<br>
                         </p><br><br>
                         </div>                          
</div> 

<div class="container">                         
                         <div class="col-md-6" >
								<br><br><img alt="" src="hilux/fotos/doble-cabina-sr-hilux-2016.png">  
                         </div>                          
                         
                         <div class="col-md-6">
                         <br><br><br><br><h4>Doble Cabina SR</h4>
                         <p align="justify"><br><br>
- Aire acondicionado<br>
- Bolsa de aire para conductor, pasajero y rodillas de conductor<br>
- Bluetooth<br>
- Rines de aluminio de 17"<br>
                         </p><br><br>
                         </div>                          
</div>                       


				</div>
			</div>
		</div>

		<!-- End content -->
 
 			